#!/usr/bin/env python3
# _*_ coding:utf-8 _*_

PACKAGE = "windmill"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("score_thresh",double_t, 2, "score_thresh", 0.4,0.1, 1.0)

gen.add("red",bool_t,0,"target_is_red",True)

gen.add("red_lower_hsv_h",int_t, 0, "red_lower_hsv_h", 110,0, 180)
gen.add("red_lower_hsv_s",int_t, 0, "red_lower_hsv_s", 109,0, 255)
gen.add("red_lower_hsv_v",int_t, 0, "red_lower_hsv_v", 128,0, 255)
gen.add("red_upper_hsv_h",int_t, 0, "red_upper_hsv_h", 158,0, 180)
gen.add("red_upper_hsv_s",int_t, 0, "red_upper_hsv_s", 255,0, 255)
gen.add("red_upper_hsv_v",int_t, 0, "red_upper_hsv_v", 255,0, 255)

gen.add("blue_lower_hsv_h",int_t, 0, "blue_lower_hsv_h", 89,0, 180)
gen.add("blue_lower_hsv_s",int_t, 0, "blue_lower_hsv_s", 66,0, 255)
gen.add("blue_lower_hsv_v",int_t, 0, "blue_lower_hsv_v", 54,0, 255)
gen.add("blue_upper_hsv_h",int_t, 0, "blue_upper_hsv_h", 144,0, 180)
gen.add("blue_upper_hsv_s",int_t, 0, "blue_upper_hsv_s", 255,0, 255)
gen.add("blue_upper_hsv_v",int_t, 0, "blue_upper_hsv_v", 255,0, 255)

gen.add("hull_bias",double_t, 3, "hull_bias", 2.9,0.1, 3.0)
gen.add("min_area_threshold",int_t, 3, "area_threshold", 68,10, 1000)
gen.add("max_area_threshold",int_t, 3, "area_threshold", 1723,10, 10000)

gen.add("morph_iterations",int_t, 0, "morph_iterations", 1,1, 10)

size_enum = gen.enum([ gen.const("MORPH_ERODE",      int_t, 0, "0"),
					   gen.const("MORPH_DILATE",     int_t, 1, "1"),
					   gen.const("MORPH_OPEN",     int_t, 2, "2"),
					   gen.const("MORPH_CLOSE",     int_t, 3, "3"),
					   gen.const("MORPH_GRADIENT",     int_t, 4, "4"),
					   gen.const("MORPH_TOPHAT",      int_t, 5, "5"),
					   gen.const("MORPH_BLACKHAT",      int_t, 6, "6"),
					   gen.const("MORPH_HITMISS",      int_t, 7, "7")],
					   "An enum to set morph type")

gen.add("morph_type", int_t, 0, "morph_type", 3, 0, 7, edit_method=size_enum)
gen.add("morph_size", int_t, 0, "morph_size", 1, 0, 4)


gen.add("process_noise",int_t, 3, "process_noise", 7,0, 20)
gen.add("measurement_noise",int_t, 3, "measurement_noise", 2,0, 20)
gen.add("radian_scale",double_t, 3, "radian_scale", 16.0,1.0, 30.0)
gen.add("distance_threshold",int_t, 3, "distance_threshold", 70,10, 500)


exit(gen.generate(PACKAGE, PACKAGE, "dynamic"))